.default-layout {
  display: grid;
  grid-template-rows: 60px auto 4.06rem;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

main {
  grid-area: main;
  min-height: 88vh;
}

.App {
  font-family: "Montserrat";
}
